<<<<<<< HEAD
=======

.about-wenzel
{
  float:left;
  width: 50%;

  h2,h3
  {
    text-transform: uppercase;
  }

  p
  {
    color: $dark-font;
  }

  button
  {
    border: 1px solid $dark-font;
    text-transform: uppercase;
    width: 20em;
    padding: 20px 10px 20px 10px;
    background-color: inherit;
  }

}

.wenzel-photo
{
  float:left;
  width: 50%;
}
>>>>>>> origin/develop
