
/*-------------------------------------------
  Modal Styles
-------------------------------------------*/

.consultation-modal {
  background-color: #efefef;
  width: 1080px;
  height: 783px;
}

.modal-header {
    color: black;
    text-transform: uppercase;
    text-align: center;
}


.modal-description {
  color: black;
  text-align:center;
}
