
.navigation-services {
  float: left;
  text-transform: uppercase;

    a {
      text-decoration: none;
      list-style-type: none;
      display: inline-block;
      float: none;
      padding: inherit;
    }
}

.idea-architect-header {
  // font-size: ;
  // font-weight: ;
  color: black;
  opacity: 1;
  text-align: left;
}

.idea-architect-paragraph {
  // font-size: ;
  // font-weight: ;
  color: black;
  opacity: 1;
  text-align: left;
}

.writer-header {
  // font-size: ;
  // font-weight: ;
  color: black;
  opacity: 1;
  text-align: left;
}

.writer-paragraph {
  // font-size: ;
  // font-weight: ;
  color: black;
  opacity: 1;
  text-align: left;
}

.case-studies {
  float:right;
  display: grid;
}

.cs-one-header {
  // font-size: ;
  // font-weight: ;
  color: black;
  opacity: 1;
  text-align: left;
}

.cs-one-paragraph {
  // font-size: ;
  // font-weight: ;
  color: black;
  opacity: 1;
  text-align: left;
}

.cs-two-header {
  // font-size: ;
  // font-weight: ;
  color: black;
  opacity: 1;
  text-align: left;
}

.cs-two-paragraph {
  // font-size: ;
  // font-weight: ;
  color: black;
  opacity: 1;
  text-align: left;
}

.cs-three-header {
  // font-size: ;
  // font-weight: ;
  color: black;
  opacity: 1;
  text-align: left;
}

.cs-three-paragraph {
  // font-size: ;
  // font-weight: ;
  color: black;
  opacity: 1;
  text-align: left;
}

.cs-category {
  // font-size: ;
  // font-weight: ;
  color: black;
  opacity: 1;
  text-align: left;
}
