<<<<<<< HEAD
<h1>About Tyler</h1>
=======
<!-- About SECTION -->
<div class="about-wenzel">

  <h2>The work of David V. Wenzel</h2>

  <p>David has southern blood, was raised in Europe,
  grew up a corn-fed Nebraska boy, and now lives and
  works in Grand Rapids, Michigan.</p>

  <p>As a co-founder of Dot&amp;Cross and Idea Architect for
  RobinHood Ink., David's work has been a unique collaboration
  of artists, studios, cable channels, publishers, and advertising
  agencies.  Feel free to connect on twitter, facebook
  or send me an email.  If you're super fancy, you can even click
  the 'like' button below and make our relationship official.</p>

  <button>Schedule a Free Consultation</button>
  <h3>Contact</h3> <a href="mailto:david@robinhoodink.com">david@robinhoodink.com</a>
  or <a href="http://twitter.com/robinhoodink">@robinhoodink</a>

</div>

<div class="wenzel-photo">
  <img src="assets/img/DW-Photo-BW-Long.png" />
</div>
>>>>>>> origin/develop
