<!-- Consultation Modal -->
<div class="consultation-modal">

  <img src="assets/img/robinhood_ink_logo.png"/>

<h1 class='modal-header'>Schedule a free consultation</h1>

<p class='modal-description'>Lorem ipsum dolor sit amet</p>

  <h1 class='modal-header'>Schedule a free consultation</h1>

  <p class='modal-description'>Consectetur adipiscing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud</p>

  <h3 class='contact-email'>Email</h3> <a href="mailto:david@robinhoodink.com">david@robinhoodink.com</a>
  <h3 class='contact-phone'>Phone</h3> <a href="tel:(616) 555-1235">(616) 555-1235</a>

</div>
