<<<<<<< HEAD
<h1>Header</h1>
=======
<!-- Header SECTION -->
<section class="header">
<h1>Robinhood Ink</h1>

<p>I am an Idea Architect and a Writer.</p>

<button>Schedule a Free Consultation</button>
</section>
>>>>>>> origin/develop
