<!-- Services SECTION -->
<h1>Services!</h1>

<ul>
  <li class="navigation-services"><a href="link">Idea Architecture</a></li>
  <li class="navigation-services"><a href="link">Writing</a></li>
</ul>

<article>
<h1 class="idea-architect-header">I am an idea architect</h1>
<p class="idea-architect-paragraph">This may sound backwards to you, but I do not sell my expertise. I sell my
ignorance. I sell you my personal journey from 'not knowing' to 'knowing' in an
"Understand/Explain/Share" process. Similar to your future audiences, (who we
can also assume are somewhat ignorant of the benefits your project has to offer) I
will serve as your test audience by asking the dumb questions and/or playing devil's
advocate. We will work together to create blueprints of our clear and simple ideas
in our own safe environment, which will later benefit your future audience in public
and competitive environments.

This approach is based on my experience as a Creative Story Consultant I've
realized there is a natural feeling to jump ahead to explain or share your story
before you truly understand it. Skipping this initial step of understanding will
impact your direction, as well as the time and money required for completion. By
having a clear understanding of the content and knowing the best way to explain it,
sharing your ideas will become increasingly easier, more influential, and hopefully
less expensive.

By working through this approach, I hope to minimize "do-overs" when it comes to
manifesting new ideas. You will have a wide variety of storytelling options/mediums
ahead of you (web, motion graphics, content programs, films, apps, software, etc...),
but I encourage you to invest a small amount of money with Robinhood Ink to
understand how and where to invest a large amount of money when it comes to time
to "explain" and "share" your story.
</p>
</article>

<article>
<h1 class="writer-header">I am a writer</h1>
<p class="writer-paragraph">Lorem ipsum</p>
</article>

<div class="case-studies">
<h2 class="cs-one-header">Case Study #1</h2>
<p class="cs-one-paragraph">Some short text describing the type of work</p>
<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=150&h=150">Placeholder</img>

<h2 class="cs-two-header">Case Study #2</h2>
<p class="cs-two-paragraph">Some short text describing the type of work</p>
<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=150&h=150">Placeholder</img>

<h2 class="cs-three-header">Case Study #3</h2>
<p class="cs-three-paragraph">Some short text describing the type of work</p>
<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=150&h=150">Placeholder</img>
</div>

<!-- Modal Section -->

<a href="">Close Button</a>
<div>
  <img src="assets/img/robinhood_ink_logo.png"/>
</div>
<h2 class="cs-category">Idea Architecture</h2>
<h1 class="cs-one-header">Example Case Study 1</h1>

<p class="cs-one-paragraph">This may sound backwards to you, but I do not sell my expertise. I sell my
ignorance. I sell you my personal journey from 'not knowing' to 'knowing' in an
"Understand/Explain/Share" process. Similar to your future audiences, (who we
can also assume are somewhat ignorant of the benefits your project has to offer) I
will serve as your test audience by asking the dumb questions and/or playing devil's
advocate. We will work together to create blueprints of our clear and simple ideas
in our own safe environment, which will later benefit your future audience in public
and competitive environments.

This approach is based on my experience as a Creative Story Consultant I've
realized there is a natural feeling to jump ahead to explain or share your story
before you truly understand it. Skipping this initial step of understanding will
impact your direction, as well as the time and money required for completion. By
having a clear understanding of the content and knowing the best way to explain it,
sharing your ideas will become increasingly easier, more influential, and hopefully
less expensive.

By working through this approach, I hope to minimize "do-overs" when it comes to
manifesting new ideas. You will have a wide variety of storytelling options/mediums
ahead of you (web, motion graphics, content programs, films, apps, software, etc...),
but I encourage you to invest a small amount of money with Robinhood Ink to
understand how and where to invest a large amount of money when it comes to time
to "explain" and "share" your story.
</p>
<a href="">Schedule a free consultation</a>
<img>Project Image 1</img>
<img>Project Image 2</img>
<img>Project Image 3</img>
