<!-- Testimonials SECTION -->

<blockquote>
  <p>If you're the 'guy delivering the message' it's literally impossible to look at your stuff with fresh eyes. I hired David Wenzel and immediately the fog was lifted. The result? A book proposal that sold for $100,000, a TV series and clarity in my message. If you need help with a book, new endeavor, content, brand or whatever, David is your guy. You'll thank me later. Gold bars will do.</p>
  <footer>Name, Organization</footer>
</blockquote>
